name: build Windows

on:
  workflow_dispatch:
  push:
  watch:
    types: [started]

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
      - name: Linux setup
        run: |
          sudo apt-get update
          sudo apt-get install -y \
          make binutils autoconf automake autotools-dev libtool \
          pkg-config git curl dpkg-dev gcc-mingw-w64 g++-mingw-w64 \
          autopoint libcppunit-dev libxml2-dev libgcrypt20-dev lzip
      - name: Download all
        run: |
          curl -L -O https://gmplib.org/download/gmp/gmp-6.1.2.tar.lz && \
          curl -L -O https://github.com/libexpat/libexpat/releases/download/R_2_2_7/expat-2.2.7.tar.bz2 && \
          curl -L -O https://www.sqlite.org/2019/sqlite-autoconf-3290000.tar.gz && \
          curl -L -O http://zlib.net/zlib-1.2.11.tar.gz && \
          curl -L -O https://c-ares.haxx.se/download/c-ares-1.15.0.tar.gz && \
          curl -L -O https://www.libssh2.org/download/libssh2-1.9.0.tar.gz
        
      - name: Build gmp
        run: |
          tar xf gmp-6.1.2.tar.lz && \
          cd gmp-6.1.2 && \
          ./configure \
              --disable-shared \
              --enable-static \
              --prefix=/usr/local/$HOST \
              --host=$HOST \
              --disable-cxx \
              --enable-fat \
              CFLAGS="-mtune=generic -O2 -g0" && \
          sudo make install
        env:
          HOST: x86_64-w64-mingw32
      - name: Build expat
        run: |
          tar xf expat-2.2.7.tar.bz2 && \
          cd expat-2.2.7 && \
          ./configure \
              --disable-shared \
              --enable-static \
              --prefix=/usr/local/$HOST \
              --host=$HOST \
              --build=`dpkg-architecture -qDEB_BUILD_GNU_TYPE` && \
          sudo make install
        env:
          HOST: x86_64-w64-mingw32
      - name: sqlite
        run: |
          tar xf sqlite-autoconf-3290000.tar.gz && \
          cd sqlite-autoconf-3290000 && \
          ./configure \
              --disable-shared \
              --enable-static \
              --prefix=/usr/local/$HOST \
              --host=$HOST \
              --build=`dpkg-architecture -qDEB_BUILD_GNU_TYPE` && \
          sudo make install
        env:
          HOST: x86_64-w64-mingw32
      - name: zlib
        run: |
          tar xf zlib-1.2.11.tar.gz && \
          cd zlib-1.2.11 && \
          CC=$HOST-gcc \
          AR=$HOST-ar \
          LD=$HOST-ld \
          RANLIB=$HOST-ranlib \
          STRIP=$HOST-strip \
          ./configure \
              --prefix=/usr/local/$HOST \
              --libdir=/usr/local/$HOST/lib \
              --includedir=/usr/local/$HOST/include \
              --static && \
          sudo make install
        env:
          HOST: x86_64-w64-mingw32
      - name: c-ares
        run: |
          tar xf c-ares-1.15.0.tar.gz && \
          cd c-ares-1.15.0 && \
          ./configure \
              --disable-shared \
              --enable-static \
              --without-random \
              --prefix=/usr/local/$HOST \
              --host=$HOST \
              --build=`dpkg-architecture -qDEB_BUILD_GNU_TYPE` \
              LIBS="-lws2_32" && \
          sudo make install
        env:
          HOST: x86_64-w64-mingw32
      - name: libssh2
        run: |
          tar xf libssh2-1.9.0.tar.gz && \
          cd libssh2-1.9.0 && \
          ./configure \
              --disable-shared \
              --enable-static \
              --prefix=/usr/local/$HOST \
              --host=$HOST \
              --build=`dpkg-architecture -qDEB_BUILD_GNU_TYPE` \
              --without-openssl \
              --with-wincng \
              LIBS="-lws2_32" && \
          sudo make install
        env:
          HOST: x86_64-w64-mingw32
      - name: add-version
        run: |
          sudo apt install wget
          wget https://api.github.com/repos/aria2/aria2/git/refs/heads/master -O version.json
          ls
      - name: Build aria2
        run: |
          autoreconf -i && ./mingw-config && make && \
          $HOST-strip src/aria2c.exe
        env:
          HOST: x86_64-w64-mingw32
      - name: Publish
        uses: fnkr/github-action-ghr@v1
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GHR_COMPRESS: xz
          GHR_PATH: src/
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
